.searchPanel{
    display: flex;
    max-width: 92.4%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 4rem;
    .searchPanel__buttons{
        display: flex;
        gap: 3.4px;
    
            
           
            .searcPanel__button-img{
                height: 2.4rem;
                width: 2.4rem;
            }
        
        .searcPanel__avatar-img{
            width: 6.5rem;
            height: 6.5rem;
           
        }
    }
}