.sidebar{
   
   
    width: 19%;
    height: 100%;
    padding-left: 40px;
    .sidebar__logo{
        width: 200px;
        height: 40px;
        margin-top: 60px;
    }
    .navigation{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 60px;
    }
}